* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background: url(../img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.journey__navigation {
  display: flex;
  justify-content: space-between;
  padding: 18px 79px;
  width: auto;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.journey__navigation > a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.journey__navigation > a:hover {
  transition: 0.2s ease-in;
  color: #3cb878;
}

.journey__header-icon {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 24px;
}

.journey__header-icon a:hover path {
  transition: 0.2s ease-in;
  fill: #3cb878;
}

.journey__header-icon > p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}

.journey__header-icon > p > a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}

.journey__header-icon > p > a:hover {
  transition: 0.2s ease-in;
  color: #3cb878;
}

.line {
  width: 2px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.journey__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: calc(100vh - 58px);
}

.journey__main-content {
  box-sizing: border-box;
  padding: 31px 61px;
  position: relative;
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.journey__main-content__green {
  position: absolute;
  left: 0;
  top: 32px;
  width: 18px;
  height: 18px;
  background: #3cb878;
}

.journey__main-content__registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  row-gap: 15px;
  align-items: center;
  margin-bottom: 34px;
}

.journey__main-content__registration > a:nth-child(1) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
}

.journey__main-content__registration > a:nth-child(2) {
  justify-self: end;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}

.journey__main-content__registration > a:nth-child(2):hover {
  text-decoration: underline;
}

.btn__facebook {
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 157px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background: #305db8;
}

.btn__facebook:hover {
  background: #022263;
  cursor: pointer;
}

.btn__facebook > span:nth-child(1) {
  padding-right: 18px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.btn__facebook > span:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.btn__google {
  justify-self: end;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 157px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background: #df4a32;
}

.btn__google:hover {
  background: #ab1f09;
  cursor: pointer;
}

.btn__google > span:nth-child(1) {
  padding-right: 7px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.btn__google > span:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.journey__or-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.journey__or-line > div:nth-child(1),
.journey__or-line > div:nth-child(3) {
  width: 152px;
  height: 1px;
  background: #f2f2f2;
}

.journey__or-line > div:nth-child(2) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  padding-bottom: 4px;
}

.jurney__form-information {
  margin: 10px 0 0 0;
  display: grid;
  align-items: center;
  row-gap: 15px;
}

.jurney__form-information > input {
  width: auto;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 0 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

input[type="submit"] {
  width: auto;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

input[type="submit"]:hover {
  background: #01813f;
  cursor: pointer;
}

.jurney__form-information > label {
  column-gap: 10px;
  display: flex;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.jurney__form-information > label > a {
  color: #01813f;
  text-decoration: none;
}

.jurney__form-information > label > a:hover {
  text-decoration: underline;
}

label {
  cursor: pointer;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 5px;
  vertical-align: sub;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/Vector-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
